html {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

body, html{
    
    height: 100%;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;

    text-align: center;
    position: relative;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 1);
}

body{
    background-image: url('background.jpg');
    background-size: cover;
    color: #fff;
}

.main_container{
    
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%); 
}

#profile-pic {

    max-width: 200px;
    border-radius: 1000px;
//    border: 3px solid #000;
    -moz-transform: rotate(0deg); // scaleY(-1) scaleX(-1);
    -o-transform: rotate(0deg); // scaleY(-1) scaleX(-1);
    -webkit-transform: rotate(0deg); // scaleY(-1) scaleX(-1);

}

#profile-pic.spin{
    transition: all 1s ease;

    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;


    -moz-transform: rotate(360deg); // scaleY(-1) scaleX(-1);
    -o-transform: rotate(360deg); //scaleY(-1) scaleX(-1);
    -webkit-transform: rotate(360deg); // scaleY(-1) scaleX(-1);

}

#hp-pic{
    max-height: 25px;
    margin-left:1px;
    filter: grayscale(100%) brightness(200%);

   transition: color 1s ease;
   -moz-transition: color 1s ease;
   -o-transition: color 1s ease;
   -webkit-transition: color 1s ease;
}

#hp-pic:hover{
    transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    filter: none;
}

#youtube-background{
	opacity: 0;
    -webkit-transition: opacity 2s ease-in;
       -moz-transition: opacity 2s ease-in;
        -ms-transition: opacity 2s ease-in;
         -o-transition: opacity 2s ease-in;
            transition: opacity 2s ease-in;
}

#youtube-background.playing{
	opacity: 1;
}

a, a:hover, a:visited, a:active, a:focus {
    color:inherit;
    text-decoration: none;
}

#social a{

    margin: 4px;
    cursor: auto;

}

#social a i{

   transition: color 1s ease;
   -moz-transition: color 1s ease;
   -o-transition: color 1s ease;
   -webkit-transition: color 1s ease;

}

#social a i:hover{
    cursor: pointer;
    
    transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
}

#social a i#facebook-icon:hover{
    color: #3B5998;
}

#social a i#github-icon:hover{
    color: #000;
}

#social a i#youtube-icon:hover{
    color: #cd201f;
}

#social a i#email-icon:hover{
    color: #e7ba52;
}

#social a i#instagram-icon:hover{
    color: #c13584;
}

#social a i#linkedin-icon:hover{
    color: #0077B5;
}
